import("methods")
importFrom("graphics", "abline", "axis", "box", "grid", "lines", "title")
importFrom("stats", "na.omit","acf","na.pass","pnorm","ksmooth")
importFrom("rts", rts)
importFrom("zoo", index,rollapply,na.approx)
importFrom("raster",calc,raster,nlayers,addLayer,res)
importFrom("terra",app,nlyr,rast)
importFrom("imputeTS",na.ma)
importFrom("trend",mk.test)
importFrom("elsa",lisa)
exportPattern("^[[:alpha:]]+")
