import(sp)
import("methods")
importFrom("graphics", "abline", "axis", "box", "grid", "lines", "title")
importFrom("stats", "na.omit","acf","na.pass","pnorm","ksmooth")
importFrom("rts", rts)
importFrom("zoo", index,rollapply,na.approx)
importFrom("raster",calc,raster,nlayers,addLayer,res)
importFrom("terra",app,rast)
exportPattern("^[[:alpha:]]+")
